@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    /* Light Mode Colors */
    --clr-background: 0deg 0% 98%;
    --clr-input: 0deg 0% 52%;
    --clr-text: 200deg 15% 8%;
    --clr-elements: 0deg 0% 100%;
  
    --fs-home: .875rem; /* 14px */
    --fs-detail: 1rem;  /* 16px */
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark Mode Colors */
      --clr-background: 207deg 26% 17%;
      --clr-input: 0deg 0% 100%;
      --clr-text: 0deg 0% 100%;
      --clr-elements: 209deg 23% 22%;
    }
  }

  :root[data-theme="dark"] {
    /* Dark Mode Colors */
    --clr-background: 207deg 26% 17%;
    --clr-input: 0deg 0% 100%;
    --clr-text: 0deg 0% 100%;
    --clr-elements: 209deg 23% 22%;
  }

  body {
    position: relative;
    overflow: hidden;
    font-size: var(--fs-home);
    min-height: 100vh;
    min-height: 100dvh;
  }

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
